$full(w = 100%, h = 100%)
  width w
  height h
  box-sizing border-box

$center()
  display flex
  align-items center
  justify-content center

$blur(val = 0.05rem)
  backdrop-filter blur(val)
  -webkit-backdrop-filter blur(val)

$border(color = #000, width = 0.01rem)
  border width solid color

$primary-color = #47B3FF
$primary-bg = rgba(49,94,139,.3)
$blue = #2F86EE
$edge = #5ad1fb

$card-bg = $primary-bg
$card-title-color = $primary-color
$card-title-size = .14rem

$table-title-bg =rgba(2,27,53,.5)
$table-content-bg = rgba(2,27,53,.2)
$table-content-hover-color = $primary-color
$table-content-hover-bg = $primary-bg