$full(w = 100%, h = 100%)
  width w
  height h
  box-sizing border-box

$center()
  display flex
  align-items center
  justify-content center

$blur(val = 0.5rem)
  backdrop-filter blur(val)
  -webkit-backdrop-filter blur(val)

$primary-color = #47B3FF
$primary-bg = rgba(49,94,139,.3)

$card-bg = $primary-bg
$card-title-color = $primary-color
$card-title-size = .14rem